@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.react-pdf__Page__canvas {
    @reference mx-auto border border-gray-300 border-opacity-40 shadow;
}

.markdown-body ul {
    @reference list-disc;
}

.markdown-body ol {
    @reference list-decimal;
}

pre[class*='language-'],
code[class*='language-'] {
    @reference font-mono !important;
}